/* style.css */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #222;
  font-family: Arial, sans-serif;
}

canvas {
  border: 2px solid white;
  max-width: 100%;
  max-height: 80vh;
  background: #000;
}

#controls {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#roomId {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

#controls button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background: #555;
  color: white;
  cursor: pointer;
}

#controls button:hover {
  background: #777;
}

#scoreboard {
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7); /* Fundo para destaque */
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.5s;
}
.scoreboard {
  margin-top: 15px; /* Espaço acima do placar */
  color: #ccc; /* Cor mais suave */
  text-align: center; /* Centraliza o texto, se desejar */
}

.scoreboard-line {
  font-size: 15px; /* Tamanho da fonte para cada linha */
  display: block; /* Cada linha em uma nova linha */
  margin: 2px 0; /* Pequeno espaço entre linhas */
}
#mobileControls {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.joystick {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
  touch-action: none;
}

#shootBtn {
  padding: 15px 30px;
  font-size: 18px;
  margin-left: 20px;
}

@media (max-aspect-ratio: 1/1) {
  #mobileControls {
    display: block;
  }
}

#endGameScreen button {
  background: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#endGameScreen button:hover {
  background: #777;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#joinInstructions {
  margin-top: 45px;
  color: white;
  text-align: center; /* Centraliza o texto horizontalmente dentro do elemento */
  position: absolute; /* Permite posicionar o elemento no centro da tela */
  top: 50%; /* Posiciona o topo do elemento no meio vertical da tela */
  left: 50%; /* Posiciona a esquerda do elemento no meio horizontal da tela */
  transform: translate(-50%, -50%); /* Desloca o elemento para centralizá-lo exatamente */
  width: 100%; /* Opcional: garante que o texto use a largura total para centralização */
  font-size: 9px;
}